@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&display=swap');

@import 'colors';
@import 'home';
@import 'header';
@import 'moviedetails';
@import 'moviecard';
@import 'error';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  background-color: $bg-darker;
  scroll-behavior: smooth;
  color: $primary;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $bg-dark; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7670704f; 
}