.movieDetail {  //outermost container
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 767px){
        padding: 25px;
    }

    @media screen and (min-width: 768px) and (max-width: 1024px) {
        padding: 30px;
    }

    // @media screen and (min-width: 768px) and (max-width: 1023px){
    //     padding: 30px;
    // }
    
    .container {
        height: 75vh;
        width: 80vw;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 75px;
        border-radius: 50px;

        Link, button {
            width: 100px;
            height: 60px;
            position: absolute;
            bottom: 12%;
            left: 50%;
            font-size: 16px;
            border-radius: 10px;

            @media screen and (max-width: 767px){
                width: 80px;
                height: 30px;
                bottom: 7%;
                left: 37vw;
                font-size: 12px;
                padding: 5px;
            }
        
            @media screen and (min-width: 768px) and (max-width: 1024px) {
                width: 90px;
                height: 45px;
                bottom: 10%;
                left: 58vw;
                font-size: 13px;
                padding: 8px;
            }
        
            // @media screen and (min-width: 768px) and (max-width: 1023px){
            //     padding: 30px;
            // }

            &:hover {
                background-color: rgba(50, 37, 37, 0.726);
            }
        }

    .details-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 50vh;
        background-color: transparent;

        @media screen and (max-width: 767px){
            flex-direction: column;
        }
    
        @media screen and (min-width: 768px) and (max-width: 1024px) {
            height: 60vh;
        }
    }

    .movie-img {
        width: 300px;
        height: auto;
        object-fit: contain;
        border-radius: 50px;
        padding: 5px;
        margin: 0 20px 0 10px;
        background-color: transparent;
        box-shadow: inset 0 0 0 1000px rgba(7, 7, 7, 0.752);

        @media screen and (max-width: 767px){
            width: 100px;
            height: auto;
            border-radius: 20px;
            margin: 5px;
        }
    
        @media screen and (min-width: 768px) and (max-width: 1024px) {
            width: 200px;
            height: auto;
            border-radius: 20px;
            margin: 5px;
        }
    }

    .info-container{
        background-color: transparent;
        height: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        background-color: transparent;
        box-shadow: inset 0 0 0 1000px rgba(7, 7, 7, 0.752);
        border-radius: 10px;

        @media screen and (max-width: 767px){
            padding: 10px;
        }
    
        @media screen and (min-width: 768px) and (max-width: 1024px) {
            padding: 15px;
        }

        .title {
            font-size: 24px;
            font-weight: 900;
            display: inline-block;
            height: 20%;
            background-color: transparent;

            @media screen and (max-width: 767px){
                font-size: 16px;
            }
        }

        .date {
            height: 20%;
            display: flex;
            background-color: transparent;

            @media screen and (max-width: 767px){
                font-size: 10px;
            }
        
            @media screen and (min-width: 768px) and (max-width: 1024px) {
                font-size: 12px;
            }

            p {
                margin: 0 20px;
                background-color: transparent;

                @media screen and (max-width: 767px){
                    margin: 0 5px;
                }
            
                @media screen and (min-width: 768px) and (max-width: 1024px) {
                    margin: 0 10px;
                }

                span {
                    background-color: transparent;
                }
            }
        }

        .tagline {
            font-weight: 300;
            font-size: 20px;
            height: 10%;
            font-style: italic;
            background-color: transparent;
            word-wrap: break-word;
            white-space: pre-wrap;
            word-break: break-word;
            margin-top: 7.5px;

            @media screen and (max-width: 767px){
                font-size: 12px;
                margin-top: 10px;
                overflow: none;
            }
        
            @media screen and (min-width: 768px) and (max-width: 1024px) {
                font-size: 14px;
                margin-top: 10px;
                overflow: none;
            }
        }

        .overview-container {
            height: 60%;
            font-size: 20px;
            background-color: transparent;
            word-wrap: break-word;
            white-space: pre-wrap;
            word-break: break-word;
            
            .overview {
                font-size: 16px;
                font-weight: 800;
                background-color: transparent;

                @media screen and (max-width: 767px){
                    font-size: 12px;
                    overflow: none;
                }
            
                @media screen and (min-width: 768px) and (max-width: 1024px) {
                    font-size: 14px;
                }
            }

            .overview-text {
                background-color: transparent;
                font-size: 15px;

                @media screen and (max-width: 767px){
                    font-size: 11px;
                }
            
                @media screen and (min-width: 768px) and (max-width: 1024px) {
                    font-size: 13px;
                }
            }
        }

        
    }
}

}